<ng-template [ngIf]="view$ | async" let-view>

    <div class="invisible"
        voluba-kb-shortcut
        kb-shortcut-keys="ctrl+keyz"
        (kb-shortcut-triggered)="histroyCtl.rewind()"></div>
    <div class="invisible"
        voluba-kb-shortcut
        kb-shortcut-keys="ctrl+keyy"
        (kb-shortcut-triggered)="histroyCtl.forward()"></div>

    <div class="viewer-wrapper"
        voluba-history-controller
        #histroyCtl="historyController">

        <div class="landmark-layer-wrapper">
            <voluba-nehuba-viewer-wrapper
                [darkmode]="view.darkmode"
                (navigation)="setPrimaryNav($event)"
                (mousePosition)="onMousePosition($event)"
                (mousedown)="onMouseDown($event.event)"
                (mouseup)="onMouseUp($event.event)"
                volubaMouseInteraction
                [onlyElements]="nehuba.elementToSliceViewWeakMap"
                [stopPropagation]="!(!view.isDefaultMode || view.incLocked)"
                [nehuba-viewer-layers]="view.primaryLayers"
                #nehuba="nehubaViewerWrapper">
            </voluba-nehuba-viewer-wrapper>

            <ng-template [ngIf]="nehuba.sliceViews$ | async" let-sliceViews>

                <div class="four-quadrant"
                    [ngClass]="{
                        'disabled': view.isDraggingViewer || view.addLandmarkMode
                    }">
                    <ng-template [ngIf]="sliceViews[0]" let-sliceView>
                        <voluba-overlay [overlay-landmarks]="view.primaryLandmarks"
                            (overlay-hover-landmark)="handleHoverLandmark($event)"
                            (overlay-mousedown-landmark)="handleMousedownLandmark($event)"
                            [overlay-sliceview]="sliceView">
                        </voluba-overlay>
                    </ng-template>
                    <ng-template [ngIf]="sliceViews[1]" let-sliceView>
                        <voluba-overlay [overlay-landmarks]="view.primaryLandmarks"
                            (overlay-hover-landmark)="handleHoverLandmark($event)"
                            (overlay-mousedown-landmark)="handleMousedownLandmark($event)"
                            [overlay-sliceview]="sliceView">
                        </voluba-overlay>
                    </ng-template>
                    <ng-template [ngIf]="sliceViews[2]" let-sliceView>
                        <voluba-overlay [overlay-landmarks]="view.primaryLandmarks"
                            (overlay-hover-landmark)="handleHoverLandmark($event)"
                            (overlay-mousedown-landmark)="handleMousedownLandmark($event)"
                            [overlay-sliceview]="sliceView">
                        </voluba-overlay>
                    </ng-template>
                </div>
            </ng-template>

            <ng-template [ngIf]="view.showAddingIncLmOverlay">
                <div class="add-lm-overlay align-right">
                    <span>Add landmark&nbsp;in incoming volume</span>
                    <mat-icon fontIcon="keyboard_arrow_right"></mat-icon>
                </div>
            </ng-template>
        </div>

    
        <div *ngIf="!view.isDefaultMode" class="landmark-layer-wrapper">

            <voluba-nehuba-viewer-wrapper
                nehuba-viewer-alias="secondaryViewer"
                (mousePosition)="onMousePosition($event)"
                (mousedown)="onMouseDown($event.event)"
                volubaMouseInteraction
                [onlyElements]="secondaryNehuba.elementToSliceViewWeakMap"
                [nehuba-viewer-init-navigation]="view.primaryNavigation"
                [nehuba-viewer-layers]="view.secondaryLayers"
                #secondaryNehuba="nehubaViewerWrapper">
            </voluba-nehuba-viewer-wrapper>


            <ng-template [ngIf]="secondaryNehuba.sliceViews$ | async" let-sliceViews>

                <div class="four-quadrant">
                    <ng-template [ngIf]="sliceViews[0]" let-sliceView>
                        <voluba-overlay [overlay-landmarks]="view.secondaryLandmarks"
                            (overlay-hover-landmark)="handleHoverLandmark($event)"
                            (overlay-mousedown-landmark)="handleMousedownLandmark($event)"
                            [overlay-sliceview]="sliceView">
                        </voluba-overlay>
                    </ng-template>
                    <ng-template [ngIf]="sliceViews[1]" let-sliceView>
                        <voluba-overlay [overlay-landmarks]="view.secondaryLandmarks"
                            (overlay-hover-landmark)="handleHoverLandmark($event)"
                            (overlay-mousedown-landmark)="handleMousedownLandmark($event)"
                            [overlay-sliceview]="sliceView">
                        </voluba-overlay>
                    </ng-template>
                    <ng-template [ngIf]="sliceViews[2]" let-sliceView>
                        <voluba-overlay [overlay-landmarks]="view.secondaryLandmarks"
                            (overlay-hover-landmark)="handleHoverLandmark($event)"
                            (overlay-mousedown-landmark)="handleMousedownLandmark($event)"
                            [overlay-sliceview]="sliceView">
                        </voluba-overlay>
                    </ng-template>
                </div>
            </ng-template>

            <ng-template [ngIf]="view.showAddingRefLmOverlay">
                <div class="add-lm-overlay align-left">
                    <mat-icon fontIcon="keyboard_arrow_left"></mat-icon>
                    <span>Add landmark&nbsp;in reference volume</span>
                </div>
            </ng-template>

        </div>
    </div>
    
    
    <voluba-four-corners>
        <div topleft>
            <voluba-control-menu></voluba-control-menu>
        </div>
        <div topright>
            <button mat-icon-button
                matTooltip="Tune incoming volume shader"
                volubaBottomSheet
                [bottom-sheet-template]="ngLayerShaderTune">
                <mat-icon fontIcon="tune"></mat-icon>
            </button>
            <button mat-icon-button
                matTooltip="Toggle side-by-side and overlay mode"
                (click)="toggleMode()">
                <mat-icon fontIcon="compare"></mat-icon>
            </button>
            <button mat-icon-button
                matTooltip="Lock incoming volume [k]"
                voluba-kb-shortcut
                kb-shortcut-keys="keyk"
                (kb-shortcut-triggered)="toggleIncLocked()"
                (click)="toggleIncLocked()"
                [disabled]="!view.isDefaultMode">
                <mat-icon [fontIcon]="view.incLocked || (!view.isDefaultMode) ? 'lock' : 'lock_open'"></mat-icon>
            </button>
        </div>
        <div bottomleft>
            <mat-card class="navigation-card">
                <mat-card-content>
                    <div>
                        Navigation (mm): {{ view.primaryNavigation.position | displayNumArray }}
                    </div>
                    <div>
                        <span>
                            Reset Orientation:
                        </span>
                        <button (click)="resetOrientation('reference')" mat-button>To Reference</button>
                        <button (click)="resetOrientation('incoming')" mat-button>To Incoming</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div bottomright>
            <!-- bottomright -->
            <rotation-widget [rotation-widget-rot-quat]="view.rotationWidgetQuat"></rotation-widget>
        </div>
    </voluba-four-corners>
        
</ng-template>

<ng-template #ngLayerShaderTune>
    <h3>Tune incoming volume shader</h3>
    <ng-layer-shader-tune></ng-layer-shader-tune>
</ng-template>
