ebrains-drive
pydantic<2.0
fastapi
fairgraph>=0.10.0
authlib
uvicorn[standard] # required as a asgi
itsdangerous # required for starlette session middleware
httpx # required for async uvicorn
type_extensions; python_version < "3.9"
