<button mat-fab (click)="onAddLandmark()">
    <mat-icon fontIcon="add_location"></mat-icon>
</button>

<mat-divider [vertical]="true"></mat-divider>

<button mat-icon-button (click)="onSave()">
    <mat-icon fontIcon="save"></mat-icon>
</button>

<button mat-icon-button (click)="onLoad()">
    <!-- TODO folder_open doesn't seem to work here -->
    <mat-icon fontIcon="folder_open"></mat-icon>
</button>

<mat-divider vertical="true"></mat-divider>

<button mat-icon-button color="primary" (click)="onCalculate()">
    <mat-icon fontIcon="calculate"></mat-icon>
</button>
