<ng-template [ngIf]="view$ | async" let-view>

    <form [formGroup]="inputCtrl">
        <mat-form-field class="quarter-width">
            <mat-label>
                Select reference volume
            </mat-label>
            <mat-select formControlName="selectedTemplate">
                <mat-option
                    *ngFor="let volume of view.availableTemplates"
                    [value]="volume.id">
                    {{ volume.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <p></p>
        <mat-form-field class="quarter-width">
            <mat-label>
                Select incoming volume
            </mat-label>
            <ng-template [ngIf]="view.availableIncomings | categoriseVolume" let-categorised>
                <mat-select formControlName="selectedIncoming" #selectedInc="matSelect">
                    <mat-optgroup *ngFor="let item of categorised | keyvalue"
                        [label]="item.key">
                        <mat-option *ngFor="let option of item.value" [value]="option.id">
                            {{ option.name }}
                        </mat-option>
                    </mat-optgroup>
                </mat-select>
            </ng-template>
        </mat-form-field>
        <button mat-icon-button
            matTooltip="Add a new volume"
            volubaDialog
            [dialogBackdrop]="true"
            [dialogCentered]="true"
            [dialogTarget]="addNewVolumeTmpl">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button
            (click)="refresh()"
            matTooltip="Refresh the list">
            <mat-icon>refresh</mat-icon>
        </button>
        
        <button mat-icon-button
            (click)="deleteVolume(view.selectedIncoming?.id)"
            color="warn"
            matTooltip="Delete this volume"
            [disabled]="view.selectedIncoming?.visibility !== 'private'">
            <mat-icon>delete</mat-icon>
        </button>
    </form>

    <mat-divider></mat-divider>

    <div class="signin">

        <ng-template [ngIf]="view.user">
            <div>
                Hello {{ view.user.fullname }}
            </div>
            <a mat-button color="warn" href="logout">
                <mat-icon>logout</mat-icon>
                <span>logout</span>
            </a>
            <div class="drag-drop-file"
                (drag-drop-file)="handleDragDropFile($event)"
                [drag-drop-file-opacity]="0.5"
                (click)="fileInput.click()">
                <input type="file" #fileInput
                    (change)="handleDragDropFile(fileInput.files)"
                    accept=".nii,.nii.gz">

                <div>
                    <div *ngIf="!view.filename">
                        Drag and Drop your NIFTI file, or click to select a file
                    </div>
                    <div *ngIf="view.filename">
                        {{ view.filename }}
                    </div>
                    <ng-template [ngIf]="view.extraTexts" let-extraTexts>
                        <div *ngFor="let extraText of extraTexts">
                            {{ extraText }}
                        </div>
                    </ng-template>
                </div>
            </div>
            <mat-progress-bar *ngIf="view.preflight || view.upload"
                mode="indeterminate">
            </mat-progress-bar>


            <div class="segmentation-wrapper">
                <mat-checkbox
                    [(ngModel)]="isSegmentation"
                    [disabled]="!view.filename || view.preflight || view.upload">
                    <span>
                        segmentation
                    </span>
                </mat-checkbox>
                <mat-icon [matTooltip]="view.segmentationCheckboxExplainer">help</mat-icon>
            </div>

            <div>
                <button mat-button
                    (click)="upload()"
                    color="primary"
                    [disabled]="!view.filename || view.preflight || view.upload || view.error">
                    <mat-icon>upload</mat-icon>
                    <span>Upload</span>
                </button>
        
                <button mat-button
                    (click)="clearUpload()"
                    [disabled]="!view.filename || view.preflight || view.upload">
                    <span>Clear</span>
                </button>
            </div>
    
            
        </ng-template>
        
        <ng-template [ngIf]="!view.user">
            <div>
                You must login before you can upload volumes.
            </div>
            <a *ngFor="let login of view.loginMethods"
                mat-button
                [href]="login.href">

                <mat-icon>login</mat-icon>
                <span>
                    {{ login.name }}
                </span>
            </a>
        </ng-template>
        
    </div>

    <mat-divider></mat-divider>
</ng-template>

<ng-template #addNewVolumeTmpl>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Add a new volume
            </mat-card-title>
            <mat-card-subtitle>
                The added volume can be accessed via either reference or incoming menu
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="newVolumeCtrl">
                <mat-form-field class="block-field">
                    <mat-label>
                        Name
                    </mat-label>
                    <input type="text" formControlName="name" matInput>
                    <mat-hint>
                        Human readable name, e.g. my awesome volume
                    </mat-hint>
                    <mat-error *ngIf="newVolumeCtrl.controls.name.errors">
                        Name is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="block-field">
                    <mat-label>
                        URL
                    </mat-label>
                    <input type="text" formControlName="url" matInput>
                    <mat-hint>
                        Neuroglancer URL, must start with precomputed:// or n5://
                    </mat-hint>
                    <mat-error *ngIf="newVolumeCtrl.controls.url.errors">
                        Malformed URL. Must start with <code>precomputed://</code> or <code>n5://</code>
                    </mat-error>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button
                color="primary"
                (click)="addVolume()"
                [disabled]="!!newVolumeCtrl.errors">
                Add
            </button>
            <button mat-button mat-dialog-close>
                Close
            </button>
        </mat-card-actions>
    </mat-card>
</ng-template>
