<table mat-table [dataSource]="landmarkPair" [trackBy]="trackBy">
  
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element">
      <form>
        
      <mat-form-field>
        <mat-label>Landmark pair name</mat-label>
        <input type="text"
          matInput
          placeholder="My landmark pair"
          [value]="element.name"
          (input)="onUpdateName(element, $event)">
      </mat-form-field>
      </form>
    </td>
  </ng-container>
  
  <ng-container matColumnDef="toTmpl">
    <th mat-header-cell *matHeaderCellDef> To Template </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button
        [style.color]="REF_LM_COLOR"
        (mouseover)="handleHoverLm(element.tmplLm)"
        (mouseout)="handleHoverLm(null)"
        (click)="onClickLocation(element.tmplLm)"
        matTooltip="Navigate to this landmark">
        <mat-icon class="position-icon" fontIcon="location_on"></mat-icon>
      </button>
    </td>
  </ng-container>
  
  <ng-container matColumnDef="toInc">
    <th mat-header-cell *matHeaderCellDef> To Incoming </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button
        [style.color]="INCOMING_LM_COLOR"
        (mouseover)="handleHoverLm(element.incLm)"
        (mouseout)="handleHoverLm(null)"
        (click)="onClickLocation(element.incLm)"
        matTooltip="Navigate to this landmark">
        <mat-icon class="position-icon" fontIcon="location_on"></mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete  </th>
    <td mat-cell *matCellDef="let element">
      <button color="warn" mat-icon-button
        (click)="deleteLmp(element)"
        matTooltip="Delete this pair of landmarks">
        <mat-icon fontIcon="delete"></mat-icon>
      </button>
    </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row
    class="landmark-row"
    [ngClass]="{
      'hovered': (hoveredLMP$ | async) === row
    }"
    *matRowDef="let row; columns: displayedColumns;">
  </tr>

</table>

<ng-template [ngIf]="landmarkPair.length === 0">
  <div class="fallback-text">
    No landmarks added
  </div>
</ng-template>