div.autodoc-docstring {
  padding-left: 20px;
  margin-bottom: 30px;
  border-left: 5px solid rgba(230, 230, 230);
}

div.autodoc-members {
  padding-left: 20px;
  margin-bottom: 15px;
}

img[alt="snippet"] {
  width: 50%;
  display: block;
  margin-left:auto;
  margin-right:auto;
}

img[alt="screenshot"] {
  width: 75%;
  display: block;

}

table img
{
  width: 100%;
}

