/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    overflow: hidden!important;
}

.position-icon
{
    filter: drop-shadow(0 0 .2em black)
}
